body {
	margin: 0px;
}

h2 {
	font-family: "Montserrat", sans-serif;
	color: #d3d3d3;
}

.main-image {
	background: url(images/coffee.jpg) center center fixed; 
    background-size: cover;
    height: 100%;
}

.arrow {
	margin-right: auto;
	margin-left: auto;
	width: 70px;
}

.arrow i {
	color: #fff;
}

.header {
	font-size: 3em;
	font-family: "Lobster", cursive;
	color: #fff;
	padding-left: 90px;
	margin-top: -400px;

}

.add-count {
	margin-top: 300px;
}